.windowSignUp {
    height: 250px;
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:black;
}

.text {
    margin-top: 10px;
    color :aliceblue;
    font-size: 15px;
    font-weight: bold;
}

.line {
    display: flex;
    align-items: center;

}

.delBtn {
    margin-left: 20px;
    border-radius: 50%;
    background-color: black ;
    color: aliceblue;
}

.delBtn {
    border-radius: 50%;
    background-color: black;
}